@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
    --bg-color: rgb(0, 119, 255);
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content>div {
    flex: 1;
    width: 100%;
}

/* Navigation bar styling */

.nav-bar {
    /* position: sticky; */
    top: 0;
    background-color: var(--bg-color);
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    padding: 1rem 2.35rem;
    border-radius: 7px;
}

.nav-item a {
    position: relative;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font-size: 1.2em;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.nav-item a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

/* About me section styling */

.about-me-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding: 8.5rem 0;
}

.about-me-profile-pic>img {
    border-radius: 50%;
    height: 40vh;
}

/* Hobbies section styling */
.hobbies-selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hobbies-selectors>div {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem 0;

    font-size: 1.3em;

    cursor: pointer;
}

.hobby-puzzling,
.hobby-puzzling-content {
    background-color: rgb(238, 29, 183);
}

.hobby-puzzling-content,
.hobby-baking-content,
.hobby-board-gaming-content,
.hobby-piano-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.hobby-baking,
.hobby-baking-content {
    background-color: rgb(196, 199, 1);
}

.hobby-piano,
.hobby-piano-content {
    background-color: rgb(5, 206, 5);
}

.hobby-board-gaming,
.hobby-board-gaming-content {
    background-color: blue;
}

.hobbies-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creampuffs {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.creampuffs-image-wrapper {
    height: 40vh;
    aspect-ratio: 12/9;
}

.creampuffs-image-wrapper>img {
    height: 40vh;
    aspect-ratio: 12/9;
    border-radius: 10px;
}

/* Contacts section styling */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 10vh;

    padding: 1.5rem 0;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.footer-contacts>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
}

.footer-contacts a {
    text-decoration: none;
    color: inherit;
}

/* Helper style */
.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}